/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  font: 13.5px 'Open Sans', sans-serif;
}

/* navbar */
.navbar {
	position: fixed;
	background-color: #2c3e50;
	height: 3.4em;
	width: 100%;
	text-transform: uppercase;
	font-family: 'Belleza', sans-serif;
}

.navbar .navbar-menu {
	float: left;
	padding-top: 10px;
	padding-left: 24px;
}

.navbar .navbar-menu .navbar-title {
	font-size: 24px;
	margin-right: 32px;
}

.navbar .navbar-menu .navbar-map {
	font-size: 16px;
	padding-left: 16px;
}

.navbar .navbar-about {
	float: right;
	font-size: 16px;
	padding-top: 16px;
	padding-right: 20px;
}

.navbar a {
	color: #ecf0f1;
	text-decoration: none;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.navbar a:hover {
	color: #FF9900;
}

/* contents */
.container {
	padding-top: 3.6em;
}

/* footer */