<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Belleza' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{ site.siteurl }}/css/main.css">
    </head>
    <body>

    <div class="navbar">
    	<div class="navbar-menu">
    		<span class="navbar-title"><a href="#">Hanoi</a></span>
    		<span class="navbar-map"><a href="#">People</a></span>
    		<span class="navbar-map"><a href="#">Places</a></span>
    		<span class="navbar-map"><a href="#">Food</a></span>
    	</div>
    	<div class="navbar-about">
    		<a href="#">About Us</a>
    	</div>
    </div>

    <div class="container">
    aho
    </div>

    </body>
</html>
